{% extends 'base.html.twig' %}

{% block title %}Edit Sortie{% endblock %}

{% block body %}
    <h1>Edit Sortie</h1>

    {{ form_start(annulationForm) }}
    {{ form_widget(annulationForm) }}
    {{ form_end(annulationForm) }}
    <a href="{{ path('sorties_liste') }}"><button class="btn"> Annuler </button></a>


    <br><br>

    <a href="{{ path('sorties_liste') }}"><button class="btn">Retour à la liste </button></a>

    <br><br>
{% endblock %}
