{% extends 'base.html.twig' %}

{% block title %}Liste Sorties{% endblock %}

{% block body %}
    <h1>Sortie index</h1>

    <div>
        {{ form_start(RechercheForm) }}
        {{ form_widget(RechercheForm) }}

        <button type="submit" class="btn">Rechercher</button>
        {{ form_end(RechercheForm) }}
    </div>

    <table class="table">
        <thead>
            <tr>

                <th>Nom</th>
                <th>Date</th>
                <th>Clôture des inscriptions</th>
                <th>Inscrits / Max</th>
                <th>Etat</th>
                <th>Inscrit</th>
                <th>Organisateur</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sortie in sorties %}
            <tr>

                <td>{{ sortie.nom }}</td>
                <td>{{ sortie.dateHeureDebut ? sortie.dateHeureDebut|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ sortie.dateLimiteInscription ? sortie.dateLimiteInscription|date('Y-m-d H:i:s') : '' }}</td>
                <td>? / {{ sortie.nbInscriptionsMax }}</td>
                <td>{{ sortie.etat.libelle }}</td>
                <td> ? </td>
                <td>{{ sortie.organisateur.nom }} {{ sortie.organisateur.prenom }}</td>
                <td>
                    <a href="{{ path('app_sortie_show', {'id': sortie.id}) }}"> Afficher </a>
                    <a href="{{ path('app_sortie_edit', {'id': sortie.id}) }}"> Modifier </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <br><br>

    <a href="{{ path('sortie_new') }}">Creer une sortie</a>
{% endblock %}
