{% extends 'base.html.twig' %}

{% block title %}Liste Sorties{% endblock %}

{% block body %}
    <h1>Sortie index</h1>

    <div>
        Bonjour {{ app.user.prenom }} {{ app.user.nom }}
    </div>
    <br><br>

    <div>
        {{ form_start(RechercheForm) }}
        {{ form_widget(RechercheForm) }}

        <button type="submit" class="btn">Rechercher</button>
        {{ form_end(RechercheForm) }}
    </div>

    <table class="table">
        <thead>
            <tr>

                <th>Nom</th>
                <th>Date</th>
                <th>Clôture des inscriptions</th>
                <th>Inscrits / Max</th>
                <th>Etat</th>
                <th>Inscrit</th>
                <th>Organisateur</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sortie in sorties %}
            <tr>

                <td>{{ sortie.nom }}</td>
                <td>{{ sortie.dateHeureDebut ? sortie.dateHeureDebut|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ sortie.dateLimiteInscription ? sortie.dateLimiteInscription|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ sortie.participants|length }} / {{ sortie.nbInscriptionsMax }}</td>
                <td>{{ sortie.etat.libelle }}</td>
                <td>
                    {% if app.user in sortie.participants %}
                            x
                    {% endif %}
                </td>
                <td>{{ sortie.organisateur.nom }} {{ sortie.organisateur.prenom }}</td>
                <td>
                    <a href="{{ path('app_sortie_show', {'id': sortie.id}) }}"> Afficher </a>
                    {% if sortie.organisateur == app.user %}
                    <a href="{{ path('app_sortie_edit', {'id': sortie.id}) }}"> Modifier </a>
                    {% endif %}
                    {% if app.user not in sortie.participants and sortie.dateLimiteInscription > 'now' and sortie.etat.libelle == 'OUVERTE'%}
                        <a href="#"> S'inscrire </a>
                    {% endif %}
                    {% if app.user in sortie.participants and (sortie.etat.libelle == 'OUVERTE' or sortie.etat.libelle == 'CLOTUREE') %}
                        <a href="#"> Se désister </a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <br><br>

    <a href="{{ path('sortie_new') }}">Creer une sortie</a>
{% endblock %}
