{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h1>{{ user.pseudo }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Prénom</th>
                <td>{{ user.prenom }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ user.nom }}</td>
            </tr>
            <tr>
                <th>Tel</th>
                <td>{{ user.tel }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Actif</th>
                <td>{{ user.actif ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('user_index') }}">Voir la liste de tous les utilisateurs</a>

    <a href="{{ path('user_edit', {'id': user.id}) }}">Modifier le profil</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
